.about-container {
    padding: 80px 0 80px 0;
    text-align: center;

    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 0;
    }
}

.about-feature {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .layer {
        background: rgba(0, 0, 0, 0.35);
        height: 100%;

        .about-content {
            padding: 80px 0 80px 0;
            h2 {
                margin-top: 0;
                margin-bottom: 30px;
                color: #FFF;
            }
        
            p {
                margin-bottom: 0;
                color: #FFF;
            }
        }

        .tile-container {
            margin-top: 80px;

            .tile {
                cursor: pointer;
                background-color: #FFF;
                padding: 50px;
                text-align: center;
                color: #333;
                border-radius: 7px;
                transition: all 0.2s ease-in-out;
                
                img {
                    width: 50px;
                    height: auto;
                }

                h3 {
                    color: #333;
                    font-size: 18px;
                    margin-bottom: 0;
                }

                p {
                    color: #333;
                    font-size: 14px;
                }

                &:hover {
                    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                    transform: scale(1.1);
                }
            }
        }
    }
}