.feature-banner {
    position: relative;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .layer {
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;

            h1 {
                text-align: center;
                color: #FFF;
                font-size: 45px;
                line-height: 1.3;
                margin-bottom: 40px;
            }

            a {
                text-decoration: none;
                text-align: center;
                display: inline-block;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}