.cta-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;

    .layer {
        background: rgba(0, 0, 0, 0.4);
        height: 100%;

        h2 {
            margin-top: 80px;
            margin-bottom: 30px;
            color: #FFF;
        }

        p {
            color: #FFF;
            margin-bottom: 50px
        }

        a {
            text-decoration: none;
            margin-bottom: 80px;
            display: inline-block;
        }
    }
}