.footer-wrapper {
    background-color: #333;
    padding: 80px 0;

    h2 {
        color: #FFF;
        margin-top: 0;
        font-size: 24px;
        margin-bottom: 35px;
    }

    .contact-info {
        
        p {
            color: #FFF;
            margin-bottom: 5px;
            margin-top: 5px;

            span {
                color: #FFF;
                font-weight: $bold-weight;
                width: 50px;
                display: inline-block;
            }
        }

        #address {
            padding-left: 50px;
        }
    }

    .faq-wrapper {
        
        ul {
            margin: 0;
            padding: 0;

            li {
                
                a {
                    color: #FFF;
                    text-decoration: none;
                    border-bottom: 1px solid #FFF;
                    padding-top: 10px;
                    padding-bottom: 20px;
                    display: block;
                }

            }

            li:first-child {
                a {
                    padding-top: 0;
                }
            }
        }
    }

    .socials {
        
        h2 {
            margin-top: 80px;
        }

        ul {
            padding-left: 0;

            li {
                display: inline-block;

                img {
                    width: 32px;
                    height: auto;
                }
            }
        }
    }
}

.copyright-wrapper {
    background-color: #CCC;

    #copyright {
        float: left;
    }

    #website-by {
        float: right;
    }
}