.header-wrapper {
    padding: 15px;
    header {
        position: relative;
        #logo {
            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }
        .menu-main-menu {
            margin-top: 15px;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
    
                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0 10px 0 10px;

                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #333;
                        font-size: 14px;
                        font-family: $link-font-family;
                    }
                }
            }
        }
        .shop-toolbar {
            ul {
                list-style: none;
                padding: 0;
                position: absolute;
                top: 0;
                right: -16px;
    
                li {
                    display: inline-block;
                    padding-right: 5px;
    
                    img {
                        height: 18px;
                        width: 18px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}