.subscribe-wrapper {
    background-color: #000;
    text-align: center;
    padding: 80px 0;

    .subscribe-title {
        margin-top: 0;
        color: #FFF;
        font-size: 25px;
        margin-bottom: 50px;
    }

    .subscribe-sub {
        margin-top: 0;
        color: #FFF;
        font-size: 16px;
        margin-bottom: 50px;
    }

    .subscribe-copy {
        margin-top: 30px;
        margin-bottom: 0;
        color: #FFF;
        font-size: 13px;
        line-height: 1;
        color: #CCCCCC;

        a {
            color: #CCCCCC;
            font-size: 13px;
        }
    }

    .subscribe-form {
        position: relative;
        width: 55%;
        margin: 0 auto;
        
        input {
            border-radius: 7px;
            padding: 10px;
            font-size: 15px;

            &::placeholder {
                color: #333;
                font-size: 15px;
            }
        }

        #submit {
            position: absolute;
            top: 10px;
            right: 10px;
            background-image: url(img/icon/send.svg);
            background-size: 28px;
            height: 30px;
            width: 35px;
            background-repeat: no-repeat;
            outline: 0px;
            border: none;
        }
    }
}

