.testimonial-wrapper {
    margin: 80px 0;
    text-align: center;

    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 0;
    }

    .testimonials {
        margin-top: 80px;

        img {
            width: 100%;
            border-radius: 7px;
        }

        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            color: #333;
        }

        cite {
            margin-bottom: 30px;
            display: block;
            font-style: normal;
        }
    }
}