.page-title {
    @include background-image(500px);

    .layer {
        @include overlay(#000, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            width: 50%;

            h1 {
                text-align: center;
                color: #FFF;
                font-size: 45px;
                line-height: 1.3;
                margin-bottom: 40px;
            }

            p {
                color: #FFF;
                font-weight: 600;
                text-align: center;
                margin-bottom: 0;

                span {
                    margin-left: 5px;
                    margin-right: 5px;
                    color: #FFF;
                }

                a {
                    color: #FFF;
                    text-decoration: none;
                }
            }
        }
    }
}