// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Transition
@mixin trs($prop, $duration, $ease) {
  -webkit-transition: $prop $duration $ease;
  transition: $prop $duration $ease;
}
@mixin trs2($prop, $duration, $ease, $prop2, $duration2, $ease2) {
  -webkit-transition: $prop $duration $ease, $prop2 $duration2 $ease2;
  transition: $prop $duration $ease, $prop2 $duration2 $ease2;
}

// Calc based on the current context of element. First arg is PX value you want to set
// on the element, second arg is the PX value of the element font size.
@function calc-em($target-px, $context) {
    @return ($target-px / $context) * 1em;
}
// Simple conversion in global base font scope. Using base font size as default context.
@function em($pixels, $context: $base-font-size) {
    @return ($pixels / $context) * 1em;
}

@mixin placeholder($color, $size:"") {
    &::-webkit-input-placeholder {
        color: $color;
        font-style: italic;
        @if $size != "" {
            font-size: $size;
        }
    }
    &:-moz-placeholder {
        color: $color;
        font-style: italic;
        @if $size != "" {
            font-size: $size;
        }
    }
    &::-moz-placeholder {
        color: $color;
        font-style: italic;
        @if $size != "" {
            font-size: $size;
        }
    }
    &:-ms-input-placeholder {
        color: $color;
        font-style: italic;
        @if $size != "" {
            font-size: $size;
        }
    }
}

@mixin background-image( $height ) {
    position: relative;
    width: 100%;
    height: $height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin overlay( $color, $opacity ) {
    background: rgba($color, $opacity);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}