html {
    background-color: #fff;
    min-width: 320px;
    overflow-x:hidden; /*Safari Fix*/
  }
  
  body {
    margin: 0;
    font-family:$font-family;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #fff;
    overflow-x:hidden;
    @media (min-width: $screen-lg-min){
      padding-top: 0;
    }
    &.pushy-active {
      max-height: 100vh;
      overflow: hidden;
    }
  }
  
  *:focus {
    outline: 0;
  }
  
  div {
    box-sizing:border-box;
  }
  
  .container {
    @include cf;
  }
  
  /*### Typography ###*/
  // HEADINGS
  h1, h2, h3, h4, h5, h6{
    color: $heading-color;
    font-weight: $bold-weight;
    font-family: $header-font-family;
  }
  
  h1 {
    font-size: $h1-size;
    margin: 30px 0 20px;
  }
  
  h2 {
    font-size: $h2-size;
    margin: 30px 0 20px;
    color: #333;
  }
  
  h3 {
    font-size: $h3-size;
    margin: 30px 0 20px;
    color: #333;
  }
  
  h4{
    font-size: $h4-size;
    margin: 20px 0;
  }
  
  h5, h6{
    font-size: $h5h6-size;
    margin: 20px 0;
  }
  
  
  // CONTENT
  p, li, a, span, pre, strong, small, td, label{
    font-size: $content-size;
    font-family: $font-family;
    line-height: 1.6;
  }
  
  p, li, span, pre, small, th, label{
    color: $content-color;
    font-weight: $normal-weight;
  }
  
  p, pre {
    padding: 0px;
    margin-bottom: 20px;
  }
  
  th{
    font-size: $h5h6-size;
    color: $bold-color;
  }
  
  li {
    margin: 0 0 10px 0px;
  }
  
  strong {
    color: $bold-color;
    font-weight: $bold-weight;
  }
  
  ul, ol {
    margin: 0 0 20px;
    padding: 0 0 0 20px;
    ul, ol {
      margin: 10px 0;
    }
  }
  
  ol{
    ol{
      margin-left: 20px;
    }
  }
  
  a {
    color: $link-color;
    padding: 0;
    margin: 0;
    &:hover,
    &:focus {
      color: $link-color;
    }
    &:active {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
  
  img{
    height:auto;
  }
  
  hr {
    margin: 45px 0;
    border-top: 1px solid $border-dark;
  }
  
  blockquote {
    margin: 30px 0;
    p {
      font-weight: $light-weight;
      color: $quote-color;
      font-size: $quote-size;
      line-height: 1.35;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    p:before,
    p:after {
      content: '"';
    }
    strong{
      &:before,
      &:after{
        content: '';
      }
    }
  }
  
  table {
    border: 0;
    width: 100%;
    margin: 45px 0;
    border-top: 1px solid $border-dark;
    @media (min-width: $screen-sm-min){
      width: 100%;
    }
    tr {
      th, td {
        border: 0;
        padding: 15px 10px;
        font-weight: inherit;
      }
      &:hover{
        background: $light-bg;
      }
    }
    thead {
      text-align: left;
    }
    tbody {
      tr{
        border-bottom: 1px solid $border-light;
      }
      td {
        border-right: 0;
        &:last-child {
          border-right: 0;
        }
      }
      tr:nth-child(even) {
        td {
          border-right: 0;
          &:last-child {
            border-right: 0;
          }
        }
      }
    }
    tfoot {
      border-top: 2px solid $feature;
    }
  }
  
  .table-overflow{
      @media (max-width: 549px){
          overflow-x: scroll;
      }
      margin: 45px 0;
      table{
          min-width: 550px;
      }
  }
  
  a.pdf, a.doc { /*The background image*/
    padding:2px 0 2px 22px;
    line-height: 18px; /* To center the text vertically with the icon */
  }
  a.pdf { background: url(img/pdficon_small.gif) no-repeat left center;}
  a.doc { background: url(img/docicon_small.gif) no-repeat left center;}
  
  
  /* Override iOS device phone number auto format */
  a[href^=tel]{
    color:inherit;
    text-decoration:none;
  }
  
  iframe{
    border:0px;
  }
  
  .wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: $screen-md-min){
      padding-top: 75px;
      padding-bottom: 75px;
    }
  }
  
  .button{
    text-decoration: none;
    &:after{
      content: "";
      display: inline-block;
      height: 10px;
      background: url(svg/arrow-right-black.svg) no-repeat 50%;
      padding: 1px 5px;
      margin-left:30px;
    }
  }
  
  .date{
    color:#666;
  }
  .date-icon{
    &:before{
      content: "";
      height: 10px;
      background: url(svg/clock.svg) no-repeat 50%;
      padding: 1px 9px;
      margin-right:5px;
    }
  }
  
  label, .lable{
    display:block;
    margin-bottom: 10px;
    .required{
      color: red;
    }
  }
  
  input,
  textarea {
    background: #fff;
    border: 1px solid #aaa; //#888;
    padding: 1em 1.2em;
    font-size: $content-size;
    font-family: $font-family;
    color: #333;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    -webkit-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"],
  button[type="submit"]{
      font-size: $content-size;
  }

  .btn-white {
    background-color: #FFF;
    color: #333;
    padding: 8px 50px;
    border-radius: 7px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    border: 3px solid #FFF;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: transparent;
      color: #FFF;
      border: 3px solid #FFF;
    }
  }
  