//------------------------------------------------- container width option

$container-xs  : 100%;
$container-sm  : 783px;
$container-md  : 1007px;
$container-lg  : 1200px;

//------------------------------------------------- media queries options

$screen-xs-min : 350px; //335px;
$screen-sm-min : 798px; //783px;
$screen-md-min : 1022px; //1007px;
$screen-lg-min : 1200px; //1185px;

//------------------------------------------------- Timeline queries options
$timeline-lg: 1200px;
$timeline-md: 891px;
$timeline-sm: 715px;

//------------------------------------------------- the grid

$grid-columns: 12;
$gutter: 36px;

//------------------------------------------------- color options
$brand: #6c8b8f;
// Text colours
$heading-color: $brand;
$content-color: #333;
$link-color: $brand;
$bold-color: $brand;
$nav-color: #333;
$quote-color: $brand;

// background colours
$page-banner: $brand;
$content-bg: #ececec;
$light-bg: #fafafa;
$feature: $brand; // Colour related to branding

// border colours
$border-light: #efefef;
$border-dark: #d3d3d3;

// feature obj colours
$button-primary: $brand;

//------------------------------------------------- typography

$bold-weight: 700;
$normal-weight: 400;
$light-weight: 300;

$h1-size: 40px;
$h2-size: 35px;
$h3-size: 25px;
$h4-size: 23px;
$h5h6-size: 19px;
$content-size: 17px;
$quote-size: 24px;

$font-family: 'Open Sans', sans-serif;
$link-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Roboto Slab', sans-serif;

//------------------------------------------------- typography - shouldnt be used

// $pageheader-font-size: 2.5em;
// $font-size: 16px;
// $em: $font-size / 1em;
// $header-font-size: 2em;
// $sub-header-font-size: 1.5em;
// $body-font-size: 17px;
// $nav-font-size: $body-font-size;
// $body-font-weight: 400;
// $nav-font-weight: 500;
// $header-font-weight: 500;
// $dark-body-color: #333; //#666;
// $light-body-color: #fff;
// $table-feature-color: rgba(191,4,38,0.05);

//------------------------------------------------- Slider Variables

$slider-height-lg: 705px;
$slider-height-md: 325px;
$slider-width-lg: 100%; // $screen-lg-min;
$slider-width-md: 100%; // $screen-md-min;
$slider-width-sm: 100%; // $screen-sm-min;
$slider-width-xs: 100%; // $screen-xs-min;

//------------------------------------------------- Grid Gallery Variables

$grid-gallery-lg-slide-width: 20%;
$grid-gallery-md-slide-width: 33.3333%;
$grid-gallery-sm-slide-width: 50%;

//------------------------------------------------- heights1 & line heights1

$subnav-height: 40px;
$banner-height: 115px;
//$footer-height:90px;

//------------------------------------------------- General Variables

$radius-reg: 5px;

//------------------------------------------------- Header & Footer Variables

$header-height: 80px;
$header-padding: 10px;
$footer-height: 486px;

//------------------------------------------------- Mixins

@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin colCalc($numPerRow, $margin){
	width:((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
	margin-right: $margin;
	&:nth-child(n){
		margin-right:$margin;
	}
	&:nth-child(#{$numPerRow}n){
		margin-right:0;
	}
}

// @include colCalc(theNumberOfItems, amountOfMargin);
