/*
	Theme Name: My Shop Theme
	Theme URI: http://www.jamesapoefis.com.au
	Description: Responsive theme designed & developed by James Apoefis
	Version: 1.0.0
	Author: James Apoefis
	Author URI: http://www.jamesapoefis.com.au
*/
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  background-color: #fff;
  min-width: 320px;
  overflow-x: hidden;
  /*Safari Fix*/ }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  overflow-x: hidden; }
  @media (min-width: 1200px) {
    body {
      padding-top: 0; } }
  body.pushy-active {
    max-height: 100vh;
    overflow: hidden; }

*:focus {
  outline: 0; }

div {
  box-sizing: border-box; }

.container:after {
  content: "";
  display: table;
  clear: both; }

/*### Typography ###*/
h1, h2, h3, h4, h5, h6 {
  color: #6c8b8f;
  font-weight: 700;
  font-family: "Roboto Slab", sans-serif; }

h1 {
  font-size: 40px;
  margin: 30px 0 20px; }

h2 {
  font-size: 35px;
  margin: 30px 0 20px;
  color: #333; }

h3 {
  font-size: 25px;
  margin: 30px 0 20px;
  color: #333; }

h4 {
  font-size: 23px;
  margin: 20px 0; }

h5, h6 {
  font-size: 19px;
  margin: 20px 0; }

p, li, a, span, pre, strong, small, td, label {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6; }

p, li, span, pre, small, th, label {
  color: #333;
  font-weight: 400; }

p, pre {
  padding: 0px;
  margin-bottom: 20px; }

th {
  font-size: 19px;
  color: #6c8b8f; }

li {
  margin: 0 0 10px 0px; }

strong {
  color: #6c8b8f;
  font-weight: 700; }

ul, ol {
  margin: 0 0 20px;
  padding: 0 0 0 20px; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 10px 0; }

ol ol {
  margin-left: 20px; }

a {
  color: #6c8b8f;
  padding: 0;
  margin: 0; }
  a:hover, a:focus {
    color: #6c8b8f; }
  a:active {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }

img {
  height: auto; }

hr {
  margin: 45px 0;
  border-top: 1px solid #d3d3d3; }

blockquote {
  margin: 30px 0; }
  blockquote p {
    font-weight: 300;
    color: #6c8b8f;
    font-size: 24px;
    line-height: 1.35; }
    blockquote p:last-of-type {
      margin-bottom: 0; }
  blockquote p:before,
  blockquote p:after {
    content: '"'; }
  blockquote strong:before, blockquote strong:after {
    content: ''; }

table {
  border: 0;
  width: 100%;
  margin: 45px 0;
  border-top: 1px solid #d3d3d3; }
  @media (min-width: 798px) {
    table {
      width: 100%; } }
  table tr th, table tr td {
    border: 0;
    padding: 15px 10px;
    font-weight: inherit; }
  table tr:hover {
    background: #fafafa; }
  table thead {
    text-align: left; }
  table tbody tr {
    border-bottom: 1px solid #efefef; }
  table tbody td {
    border-right: 0; }
    table tbody td:last-child {
      border-right: 0; }
  table tbody tr:nth-child(even) td {
    border-right: 0; }
    table tbody tr:nth-child(even) td:last-child {
      border-right: 0; }
  table tfoot {
    border-top: 2px solid #6c8b8f; }

.table-overflow {
  margin: 45px 0; }
  @media (max-width: 549px) {
    .table-overflow {
      overflow-x: scroll; } }
  .table-overflow table {
    min-width: 550px; }

a.pdf, a.doc {
  /*The background image*/
  padding: 2px 0 2px 22px;
  line-height: 18px;
  /* To center the text vertically with the icon */ }

a.pdf {
  background: url(img/pdficon_small.gif) no-repeat left center; }

a.doc {
  background: url(img/docicon_small.gif) no-repeat left center; }

/* Override iOS device phone number auto format */
a[href^=tel] {
  color: inherit;
  text-decoration: none; }

iframe {
  border: 0px; }

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (min-width: 1022px) {
    .wrapper {
      padding-top: 75px;
      padding-bottom: 75px; } }

.button {
  text-decoration: none; }
  .button:after {
    content: "";
    display: inline-block;
    height: 10px;
    background: url(svg/arrow-right-black.svg) no-repeat 50%;
    padding: 1px 5px;
    margin-left: 30px; }

.date {
  color: #666; }

.date-icon:before {
  content: "";
  height: 10px;
  background: url(svg/clock.svg) no-repeat 50%;
  padding: 1px 9px;
  margin-right: 5px; }

label, .lable {
  display: block;
  margin-bottom: 10px; }
  label .required, .lable .required {
    color: red; }

input,
textarea {
  background: #fff;
  border: 1px solid #aaa;
  padding: 1em 1.2em;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: background 200ms ease-out; }

textarea {
  resize: vertical; }

input[type="submit"],
button[type="submit"] {
  font-size: 17px; }

.btn-white {
  background-color: #FFF;
  color: #333;
  padding: 8px 50px;
  border-radius: 7px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  border: 3px solid #FFF;
  transition: all 0.2s ease-in-out; }
  .btn-white:hover {
    background-color: transparent;
    color: #FFF;
    border: 3px solid #FFF; }

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 18px;
  padding-left: 18px; }
  @media (min-width: 798px) {
    .container {
      padding-right: 18px;
      padding-left: 18px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1200px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 18px;
  padding-right: 18px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -18px;
  margin-right: -18px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 18px;
  padding-right: 18px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 798px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.3333333333%; }
  .col-sm-2 {
    width: 16.6666666667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.3333333333%; }
  .col-sm-5 {
    width: 41.6666666667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.3333333333%; }
  .col-sm-8 {
    width: 66.6666666667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.3333333333%; }
  .col-sm-11 {
    width: 91.6666666667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.3333333333%; }
  .col-sm-pull-2 {
    right: 16.6666666667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.3333333333%; }
  .col-sm-pull-5 {
    right: 41.6666666667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.3333333333%; }
  .col-sm-pull-8 {
    right: 66.6666666667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.3333333333%; }
  .col-sm-pull-11 {
    right: 91.6666666667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.3333333333%; }
  .col-sm-push-2 {
    left: 16.6666666667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.3333333333%; }
  .col-sm-push-5 {
    left: 41.6666666667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.3333333333%; }
  .col-sm-push-8 {
    left: 66.6666666667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.3333333333%; }
  .col-sm-push-11 {
    left: 91.6666666667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1022px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.3333333333%; }
  .col-md-2 {
    width: 16.6666666667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.3333333333%; }
  .col-md-5 {
    width: 41.6666666667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.3333333333%; }
  .col-md-8 {
    width: 66.6666666667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.3333333333%; }
  .col-md-11 {
    width: 91.6666666667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.3333333333%; }
  .col-md-pull-2 {
    right: 16.6666666667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.3333333333%; }
  .col-md-pull-5 {
    right: 41.6666666667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.3333333333%; }
  .col-md-pull-8 {
    right: 66.6666666667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.3333333333%; }
  .col-md-pull-11 {
    right: 91.6666666667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.3333333333%; }
  .col-md-push-2 {
    left: 16.6666666667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.3333333333%; }
  .col-md-push-5 {
    left: 41.6666666667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.3333333333%; }
  .col-md-push-8 {
    left: 66.6666666667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.3333333333%; }
  .col-md-push-11 {
    left: 91.6666666667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-11 {
    margin-left: 91.6666666667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.3333333333%; }
  .col-lg-2 {
    width: 16.6666666667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.3333333333%; }
  .col-lg-5 {
    width: 41.6666666667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.3333333333%; }
  .col-lg-8 {
    width: 66.6666666667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.3333333333%; }
  .col-lg-11 {
    width: 91.6666666667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.3333333333%; }
  .col-lg-pull-2 {
    right: 16.6666666667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.3333333333%; }
  .col-lg-pull-5 {
    right: 41.6666666667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.3333333333%; }
  .col-lg-pull-8 {
    right: 66.6666666667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.3333333333%; }
  .col-lg-pull-11 {
    right: 91.6666666667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.3333333333%; }
  .col-lg-push-2 {
    left: 16.6666666667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.3333333333%; }
  .col-lg-push-5 {
    left: 41.6666666667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.3333333333%; }
  .col-lg-push-8 {
    left: 66.6666666667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.3333333333%; }
  .col-lg-push-11 {
    left: 91.6666666667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.footer-wrapper {
  background-color: #333;
  padding: 80px 0; }
  .footer-wrapper h2 {
    color: #FFF;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 35px; }
  .footer-wrapper .contact-info p {
    color: #FFF;
    margin-bottom: 5px;
    margin-top: 5px; }
    .footer-wrapper .contact-info p span {
      color: #FFF;
      font-weight: 700;
      width: 50px;
      display: inline-block; }
  .footer-wrapper .contact-info #address {
    padding-left: 50px; }
  .footer-wrapper .faq-wrapper ul {
    margin: 0;
    padding: 0; }
    .footer-wrapper .faq-wrapper ul li a {
      color: #FFF;
      text-decoration: none;
      border-bottom: 1px solid #FFF;
      padding-top: 10px;
      padding-bottom: 20px;
      display: block; }
    .footer-wrapper .faq-wrapper ul li:first-child a {
      padding-top: 0; }
  .footer-wrapper .socials h2 {
    margin-top: 80px; }
  .footer-wrapper .socials ul {
    padding-left: 0; }
    .footer-wrapper .socials ul li {
      display: inline-block; }
      .footer-wrapper .socials ul li img {
        width: 32px;
        height: auto; }

.copyright-wrapper {
  background-color: #CCC; }
  .copyright-wrapper #copyright {
    float: left; }
  .copyright-wrapper #website-by {
    float: right; }

.header-wrapper {
  padding: 15px; }
  .header-wrapper header {
    position: relative; }
    .header-wrapper header #logo {
      display: block;
      width: 60px;
      height: 60px;
      margin: 0 auto; }
    .header-wrapper header .menu-main-menu {
      margin-top: 15px; }
      .header-wrapper header .menu-main-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center; }
        .header-wrapper header .menu-main-menu ul li {
          display: inline-block;
          margin: 0;
          padding: 0 10px 0 10px; }
          .header-wrapper header .menu-main-menu ul li a {
            text-transform: uppercase;
            text-decoration: none;
            color: #333;
            font-size: 14px;
            font-family: "Open Sans", sans-serif; }
    .header-wrapper header .shop-toolbar ul {
      list-style: none;
      padding: 0;
      position: absolute;
      top: 0;
      right: -16px; }
      .header-wrapper header .shop-toolbar ul li {
        display: inline-block;
        padding-right: 5px; }
        .header-wrapper header .shop-toolbar ul li img {
          height: 18px;
          width: 18px;
          cursor: pointer; }

.feature-banner {
  position: relative;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .feature-banner .layer {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
    .feature-banner .layer .content {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      width: 50%; }
      .feature-banner .layer .content h1 {
        text-align: center;
        color: #FFF;
        font-size: 45px;
        line-height: 1.3;
        margin-bottom: 40px; }
      .feature-banner .layer .content a {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        position: relative;
        left: 50%;
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.about-container {
  padding: 80px 0 80px 0;
  text-align: center; }
  .about-container h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .about-container p {
    margin-bottom: 0; }

.about-feature {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .about-feature .layer {
    background: rgba(0, 0, 0, 0.35);
    height: 100%; }
    .about-feature .layer .about-content {
      padding: 80px 0 80px 0; }
      .about-feature .layer .about-content h2 {
        margin-top: 0;
        margin-bottom: 30px;
        color: #FFF; }
      .about-feature .layer .about-content p {
        margin-bottom: 0;
        color: #FFF; }
    .about-feature .layer .tile-container {
      margin-top: 80px; }
      .about-feature .layer .tile-container .tile {
        cursor: pointer;
        background-color: #FFF;
        padding: 50px;
        text-align: center;
        color: #333;
        border-radius: 7px;
        transition: all 0.2s ease-in-out; }
        .about-feature .layer .tile-container .tile img {
          width: 50px;
          height: auto; }
        .about-feature .layer .tile-container .tile h3 {
          color: #333;
          font-size: 18px;
          margin-bottom: 0; }
        .about-feature .layer .tile-container .tile p {
          color: #333;
          font-size: 14px; }
        .about-feature .layer .tile-container .tile:hover {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }

.featured-products {
  margin: 80px 0; }
  .featured-products h2 {
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center; }

.cta-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center; }
  .cta-wrapper .layer {
    background: rgba(0, 0, 0, 0.4);
    height: 100%; }
    .cta-wrapper .layer h2 {
      margin-top: 80px;
      margin-bottom: 30px;
      color: #FFF; }
    .cta-wrapper .layer p {
      color: #FFF;
      margin-bottom: 50px; }
    .cta-wrapper .layer a {
      text-decoration: none;
      margin-bottom: 80px;
      display: inline-block; }

.testimonial-wrapper {
  margin: 80px 0;
  text-align: center; }
  .testimonial-wrapper h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .testimonial-wrapper p {
    margin-bottom: 0; }
  .testimonial-wrapper .testimonials {
    margin-top: 80px; }
    .testimonial-wrapper .testimonials img {
      width: 100%;
      border-radius: 7px; }
    .testimonial-wrapper .testimonials h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      color: #333; }
    .testimonial-wrapper .testimonials cite {
      margin-bottom: 30px;
      display: block;
      font-style: normal; }

.subscribe-wrapper {
  background-color: #000;
  text-align: center;
  padding: 80px 0; }
  .subscribe-wrapper .subscribe-title {
    margin-top: 0;
    color: #FFF;
    font-size: 25px;
    margin-bottom: 50px; }
  .subscribe-wrapper .subscribe-sub {
    margin-top: 0;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 50px; }
  .subscribe-wrapper .subscribe-copy {
    margin-top: 30px;
    margin-bottom: 0;
    color: #FFF;
    font-size: 13px;
    line-height: 1;
    color: #CCCCCC; }
    .subscribe-wrapper .subscribe-copy a {
      color: #CCCCCC;
      font-size: 13px; }
  .subscribe-wrapper .subscribe-form {
    position: relative;
    width: 55%;
    margin: 0 auto; }
    .subscribe-wrapper .subscribe-form input {
      border-radius: 7px;
      padding: 10px;
      font-size: 15px; }
      .subscribe-wrapper .subscribe-form input::-webkit-input-placeholder {
        color: #333;
        font-size: 15px; }
      .subscribe-wrapper .subscribe-form input:-ms-input-placeholder {
        color: #333;
        font-size: 15px; }
      .subscribe-wrapper .subscribe-form input::placeholder {
        color: #333;
        font-size: 15px; }
    .subscribe-wrapper .subscribe-form #submit {
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url(img/icon/send.svg);
      background-size: 28px;
      height: 30px;
      width: 35px;
      background-repeat: no-repeat;
      outline: 0px;
      border: none; }

.page-title {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .page-title .layer {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .page-title .layer .content {
      width: 50%; }
      .page-title .layer .content h1 {
        text-align: center;
        color: #FFF;
        font-size: 45px;
        line-height: 1.3;
        margin-bottom: 40px; }
      .page-title .layer .content p {
        color: #FFF;
        font-weight: 600;
        text-align: center;
        margin-bottom: 0; }
        .page-title .layer .content p span {
          margin-left: 5px;
          margin-right: 5px;
          color: #FFF; }
        .page-title .layer .content p a {
          color: #FFF;
          text-decoration: none; }